
div#footer{
  font-size: 12px;
  text-align: right;
  padding-top: 0%;
}

div#content{
  font-size: 12px;
  text-align: right;
} 

.user-area{
    font-size: 16px;
    background: #E6E7E9;
    width: 75px;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 9px;
    margin-left: 40px;
    display: flex;
    height: 55px;
    align-items: center;
    justify-content: center;
    // margin: 0; /* To remove default bottom margin */ 
    // padding: 0; /* To remove default left padding */
    text-align: center;
    margin-top: 10px;
    
}
.mat-icon{
  color:#000;
}

.text-inicio{
  font-size:11px;
  margin-bottom: 5px;
  color:#000;
}

.usuario{
  font-size: 14px;
  color: #000;
  margin: 0;
  height: 20px;
}
.user{
   float: left;
   font-size: 12px;
   text-align: right;
   padding-right: 7px;
}

.centroCosto{
  font-size: 16px;
  margin-bottom: 0px;
  color: #7D7D7D;
}