<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- column -->
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <!-- Row -->
        <div fxLayout="row" fxLayoutWrap="wrap">
          <!-- column -->
          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
            <mat-toolbar>
              <span>Lista de Clientes</span>
              <span class="spacer"></span>
            </mat-toolbar>
          </div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap">
          <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
            <mat-card>
              <mat-card-content>
                <mat-form-field>
                  <input matInput type="text" [value]="promedio"  id="name" disabled>
                  <mat-hint align="end">Promedio</mat-hint>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
            <mat-card>
              <mat-card-content>
                <mat-form-field>
                  <input matInput type="text" [value]="desstandar"  id="name" disabled>
                  <mat-hint align="end">Desvian Standar</mat-hint>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <span class="spacer"></span>
        <div fxLayout="row" fxLayoutWrap="wrap" style="margin-top: 15px;">
          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
          <mat-table style="width: 100%" #table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef>
                Nombre
              </mat-header-cell>
              <mat-cell *matCellDef="let row; let i=index;">
                {{row.name}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="surname">
              <mat-header-cell *matHeaderCellDef>
                Apellido
              </mat-header-cell>
              <mat-cell *matCellDef="let row; let i=index;">
                {{row.surname}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="age">
              <mat-header-cell *matHeaderCellDef>
                Edad
              </mat-header-cell>
              <mat-cell *matCellDef="let row; let i=index;">
                {{row.age}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="birthdate">
              <mat-header-cell *matHeaderCellDef>
                Fecha Nacimiento
              </mat-header-cell>
              <mat-cell *matCellDef="let row; let i=index;">
                {{row.birthdate.toDate() | date: 'dd/MM/yyyy'}}
              </mat-cell>
            </ng-container>
            <mat-header-row style="background-color:#dbdacf" *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>

